<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
		<header th:fragment="cabecalho">
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
        <nav  >
    <div class="nav-wrapper " style="background-color: black">
      <a href="#" class="brand-logo"><img src="../beer.png" style="width: 40.8%"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" th:if="${session.usuarioLogado != null}">
        <li><a href="sass.html"><a href="/cadAdm"><b>Cadastre adm</b></a></a></li>
        <li><a href="badges.html"><a href="/listaBar/1">Lista de tipo de Bares</a></a></li>
        <li><a href="collapsible.html"><a href="/listBar/1">Lista de Adm</a></a></li>
      	 <li style="background-color: red;"><a href="collapsible.html"><a href="/logout">Sair</a></a></li>
      </ul>
    </div>
  </nav>
        
      </header>
      
      
       <footer th:fragment="rodape" class="page-footer" style="background-color: black;  margin-top: 37.2%;">
	 
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>